<form class="recovery" [formGroup] = 'recoveryForm'>
  <h3 class="recovery__title text-center">{{'recovery.recovery_title' | translate}}</h3>
  <p class="recovery__description text-center">
    {{'recovery.recovery_description' | translate}}
  </p>
  <div class="form-group recovery__input position-relative" [ngClass] = "{'recovery__input-error' : checkInputsRightOrNot('newPassword')}">
    <input type="password" class="form-control shadow-none" formControlName = "newPassword" [placeholder]="'recovery.new_password' | translate"/>
    <p class="m-0 position-absolute" *ngIf="checkInputsRightOrNot('newPassword')">
        Password must be at least 6 characters
    </p>
  </div>
  <div class="form-group recovery__input  position-relative" [ngClass] = "{'recovery__input-error' : recoveryForm.hasError('mismatchedPasswords')}">
    <input type="password" class="form-control shadow-none" formControlName = "repeatPassword" [placeholder]="'recovery.submit_password' | translate"/>
    <p class="m-0 position-absolute" *ngIf="recoveryForm.hasError('mismatchedPasswords')">Passwords don't match</p>
  </div>
  <div class="form-group mb-0 position-relative">
    <button type="submit" class="recovery__btn text-white text-uppercase w-100 border-0 d-flex
    justify-content-center align-items-center" [ngClass] = "{'disabled': recoveryForm.invalid ||  loading}" (click) = "onClickSave()" [disabled]="recoveryForm.invalid">
      <span>{{'save' | translate}} </span>
      <span class="spinner-border" role="status" [ngClass]="{'d-block': loading,'d-none': !loading }">
      <span class="sr-only">Loading...</span>
    </span>
    </button>
    <p class="error position-absolute" *ngIf = "serverError">{{serverError}}</p>
  </div>
</form>
<app-allert-message></app-allert-message>
