/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97367917#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-notification-bell:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-invitation:before { content: '\e805'; } /* '' */
.icon-group:before { content: '\e806'; } /* '' */
.icon-user-follower:before { content: '\e807'; } /* '' */
.icon-statistics:before { content: '\e808'; } /* '' */
.icon-promotion:before { content: '\e809'; } /* '' */
.icon-settings:before { content: '\e80a'; } /* '' */
.icon-when-calendar:before { content: '\e80b'; } /* '' */
.icon-pin-location:before { content: '\e80c'; } /* '' */
.icon-filter:before { content: '\e80d'; } /* '' */
.icon-right-open-big:before { content: '\e80e'; } /* '' */
.icon-left-open-big:before { content: '\e80f'; } /* '' */
.icon-check:before { content: '\e810'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-bookmark-fill:before { content: '\e812'; } /* '' */
.icon-bookmark:before { content: '\e813'; } /* '' */
.icon-close:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-arrow-right:before { content: '\e816'; } /* '' */
.icon-arrow-left:before { content: '\e817'; } /* '' */
.icon-calendar1:before { content: '\e818'; } /* '' */
.icon-art-culture:before { content: '\e819'; } /* '' */
.icon-cuisine:before { content: '\e81a'; } /* '' */
.icon-fashion-shopping:before { content: '\e81b'; } /* '' */
.icon-health:before { content: '\e81c'; } /* '' */
.icon-business:before { content: '\e81d'; } /* '' */
.icon-music:before { content: '\e81e'; } /* '' */
.icon-nightout:before { content: '\e81f'; } /* '' */
.icon-sport:before { content: '\e820'; } /* '' */
.icon-kids-famliy:before { content: '\e821'; } /* '' */
.icon-volunteer:before { content: '\e822'; } /* '' */
.icon-education:before { content: '\e823'; } /* '' */
.icon-category:before { content: '\e824'; } /* '' */
.icon-globe:before { content: '\e825'; } /* '' */
.icon-info:before { content: '\e826'; } /* '' */
.icon-user:before { content: '\e827'; } /* '' */
.icon-others:before { content: '\e828'; } /* '' */
.icon-attendance:before { content: '\e829'; } /* '' */
.icon-visitors:before { content: '\e82a'; } /* '' */
.icon-user-follower1:before { content: '\e82b'; } /* '' */
.icon-grid-fill:before { content: '\e82c'; } /* '' */
.icon-grid:before { content: '\e82d'; } /* '' */
.icon-map-fill:before { content: '\e82e'; } /* '' */
.icon-map:before { content: '\e82f'; } /* '' */
.icon-search-calendar:before { content: '\e830'; } /* '' */
.icon-search-user:before { content: '\e831'; } /* '' */
.icon-error:before { content: '\e832'; } /* '' */
.icon-success:before { content: '\e833'; } /* '' */
.icon-warning:before { content: '\e834'; } /* '' */
.icon-more:before { content: '\e835'; } /* '' */
.icon-mail:before { content: '\e836'; } /* '' */
.icon-facebook:before { content: '\e837'; } /* '' */
.icon-linkedin:before { content: '\e838'; } /* '' */
.icon-google:before { content: '\e839'; } /* '' */
.icon-edit:before { content: '\e83a'; } /* '' */
.icon-clock:before { content: '\e83b'; } /* '' */
.icon-reposition:before { content: '\e83c'; } /* '' */
.icon-public-globe:before { content: '\e83d'; } /* '' */
.icon-camera-fill:before { content: '\e83e'; } /* '' */
.icon-secury:before { content: '\e83f'; } /* '' */
.icon-closed:before { content: '\e840'; } /* '' */
.icon-phone:before { content: '\e841'; } /* '' */
.icon-folder:before { content: '\e842'; } /* '' */
.icon-minus:before { content: '\e843'; } /* '' */
.icon-up-open-big:before { content: '\e844'; } /* '' */
.icon-download-arrow:before { content: '\e846'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
