@import '~bootstrap/scss/bootstrap-reboot';
@import '../../../../../../assets/scss/base/mixins';

.user-block {
  @include border-radius(5px);
  background: $gray;
  padding: 20px 30px;
  line-height: 1;

  &__image {
    @include size(100px);
    margin-right: 30px;
    border: 1px solid $gray70;

    img {
      @include size(inherit)
    }
  }

  &__btn {
    @include blue-btn;
    @include size(150px, 40px);
    padding: 8px 20px;

    .spinner-border {
      @include size(25px);
      margin-left: 10px;
      border: 2px solid $white;
      border-right-color: transparent;
    }

    &.disabled {
      opacity: .4;
      cursor: not-allowed;
      @include hover-focus-active {
        background: $blue;
      }
    }
  }

  &__name {
    @include font-size($fz-20);
    @extend %proxima-semibold;
    margin: 25px 0 10px;
    color: $dark-gray;
    @include hover-focus-active {
      color: inherit;
    }
  }

  &__company {
    color: $text-color;
  }

  &__followers {
    @include members-list;
  }
}

@include media-breakpoint-down(lg) {
  .user-block {
    @include font-size($fz-14);
    padding: 15px 20px;

    &__image {
      @include size(90px);
    }

    &__btn {
      @include size(135px, 35px);
      padding: 8px 20px;
      .spinner-border {
        @include size(20px)
      }
    }

    &__name {
      @include font-size($fz-18);
      margin: 23px 0 8px;
    }

    &__followers {
      margin-top: 8px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .user-block {
    @include font-size($fz-12);

    &__image {
      @include size(70px);
    }

    &__btn {
      @include size(120px, 30px);
      padding: 8px 10px;

      .spinner-border {
        @include size(15px)
      }
    }

    &__name {
      @include font-size($fz-16);
      margin: 17px 0 8px;
    }

  }
}
