@import '~bootstrap/scss/bootstrap-reboot';
@import '../../../../../../../assets/scss/base/mixins';

@include modals-header;

::ng-deep {
  @include modals-header;

  app-ivite-modal {
    display: block;

    .form-control {
      @include login-input;
      padding: 14px 20px 14px 50px;
    }

    app-no-result {
      padding: 60px;
      min-height: 210px;
    }
  }
}

.invite-email {
  &__input {
    @include login-input;
    padding: 14px 20px;
    height: 40px;
  }

  &__add-btn {
    @include font-size($fz-14);
    padding: 0 18px;
    margin-left: 20px;
  }

  .send-btn-block {
    bottom: 0;
  }

  &__send-invitation, &__add-btn {
    @include login-btn
  }
  &__send-invitation{
    margin-bottom: 25px;
  }
  .error {
    @include error
  }

  &__users {
    margin: 27px 0 35px;

    &__item {
      color: $dark-gray;

      &:not(:last-child) {
        margin-bottom: 23px;
      }
    }
  }

  &__delete {
    color: $error-alert;
    margin-left: 10px;
  }
}

@include media-breakpoint-down(lg) {
  .invite-email {
    &__input {
      height: 36px;
    }

    &__users {
      margin: 20px 0;

      &__item {
        @include font-size($fz-14);

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &__delete {
      @include font-size($fz-14);
    }
  }
}

@include media-breakpoint-down(sm) {
  .invite-email {
    &__input {
      height: 34px;
    }

    &__users {
      &__item {
        @include font-size($fz-12);
      }
    }

    &__delete {
      @include font-size($fz-12);
    }
  }
}

@include media-breakpoint-down(xs) {
  .header {
    padding: 0 15px;
  }
}
