@import '~bootstrap/scss/bootstrap-reboot';
@import '../../../../../../../../assets/scss/base/mixins';

::ng-deep {
  .accordion > .card {
    @include border-radius(5px !important);
    border: 1px solid $border-color !important;
    background: $white !important;
    width: 300px;
    margin-bottom: 20px;
    padding: 20px 20px 0;
    .card-body {
      padding: 20px 0;
    }
    .card-header {
      background: $white !important;
      border-bottom: 1px solid $border-color;
      padding: 0;
      .btn.btn-link {
        @include font-size($fz-18);
        @extend %proxima-semibold;
        color: $dark-gray;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 0;
        text-align: left;
        position: relative;
        margin-bottom: 11px;
        &::after {
          @extend %fontello;
          content: '\e800';
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .filter-content .where__title-header {
    display: none !important;
  }
}

.sidebar {
  margin-bottom: 20px;
  &__title {
    @include font-size($fz-20);
    @extend %proxima-semibold;
    color: $dark-gray;
  }
  &__reset {
    @extend %proxima-regular;
    color: $blue
  }
}

.filter-btn {
  @extend %proxima-semibold;
  @include border-radius(5px);
  @include font-size($fz-12);
  border: 1px solid $border-color;
  padding: 12px 15px;
  color: $dark-gray;
  margin-bottom: 10px;
  &::after {
    @extend %fontello;
    content: '\e800';
    position: absolute;
    right: 15px;
  }
}

@include media-breakpoint-down(lg) {
  ::ng-deep {
    .accordion > .card {
      margin-bottom: 15px;
      padding: 15px 15px 0;
      width: 100%;
      .card-body {
        padding: 15px 0;
      }
      .card-header {
        .btn.btn-link {
          @include font-size($fz-16);
          &::after {
            @include font-size($fz-14)
          }
        }
      }
    }
  }

  .sidebar {
    margin-bottom: 15px;
    &__title {
      @include font-size($fz-18);
    }
    &__reset {
      @include font-size($fz-14);
    }
  }
}

@include media-breakpoint-down(sm) {
  ::ng-deep {
    .accordion > .card {
      margin-bottom: 10px;
      padding: 10px 10px 0;
      width: 100%;
      .card-body {
        padding: 10px 0;
      }
      .card-header {
        .btn.btn-link {
          @include font-size($fz-14);
          &::after {
            @include font-size($fz-12)
          }
        }
      }
    }
  }

  .sidebar {
    margin-bottom: 10px;
    &__title {
      @include font-size($fz-14);
    }
    &__reset {
      @include font-size($fz-12);
    }
  }
}
