<section class="d-flex justify-content-between flex-wrap">
  <a  class="d-flex justify-content-between align-items-center
  statistics-block blue shadow text-decoration-none overflow-hidden">
    <div class="statistics-block__title">
      <h4>{{eventsCount}}</h4>
      <p class="m-0">{{'statistic.events' | translate }} </p>
    </div>
    <div class="statistics-block__icon text-white d-flex align-items-center justify-content-center">
      <i class="icon-calendar"></i>
    </div>
  </a>
  <a class="d-flex justify-content-between align-items-center
  overflow-hidden statistics-block orange shadow text-decoration-none">
    <div class="statistics-block__title">
      <h4>{{viewsCount}}</h4>
      <p class="m-0">{{'statistic.visitors'| translate}}</p>
    </div>
    <div class="statistics-block__icon text-white d-flex align-items-center justify-content-center">
      <i class="icon-visitors"></i>
    </div>
  </a>
  <a  class="d-flex justify-content-between align-items-center
   overflow-hidden statistics-block orange shadow text-decoration-none">
    <div class="statistics-block__title">
    <h4>{{joinCount}}</h4>
      <p class="m-0">{{'statistic.events_attendance' | translate}}</p>
    </div>
    <div class="statistics-block__icon text-white d-flex align-items-center justify-content-center">
      <i class="icon-attendance"></i>
    </div>
  </a>
</section>
