<header class="d-flex justify-content-between align-items-center header col-12" >
  <h3 class="mb-0 header__title" mat-dialog-title>{{"event.add_to_calendar_title" | translate}}</h3>
  <button type="button" mat-button mat-dialog-close class="bg-transparent border-0  header__close">
    <i class="icon-close"></i>
  </button>
</header>
<div mat-dialog-content class="d-flex flex-column" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
     (scrolled)="onScroll()" [scrollWindow]="false">
  <form [formGroup]="datesForm" class="flex-grow-1 d-flex flex-column"  >

    <div class="list-unstyled col-12 date-time flex-grow-1">
      <ul class="search-results">
        <li *ngFor="let dateTime of itemsControl.controls,let i = index">
          <div>
            <label class="d-flex justify-content-between mx-2" [ngClass]="{'active': i == 0}">
              <meta itemprop="startDate" content="{{incomingDate?.start}}"/>
              <span>{{datesOfEvent[i]?.start |  date:'EEE, d MMM':undefined:locale}}</span>
              <span >
                <ng-container *ngIf="!dateHidden">{{datesOfEvent[i]?.start |  date:'HH:mm'}}</ng-container>
                 <app-checkbox [formControl]="dateTime"></app-checkbox>
                 </span>
            </label></div>
        </li>
      </ul>
    </div>

    <div class="position-sticky bg-white">
      <div class="col-12 date-time d-flex justify-content-end">
        <label class="check-all mx-2">
          {{'check_all' | translate}}
          <app-checkbox class="d-inline-flex" (chackboxValue)="onClickCheckAll($event)" [value]="isFull"></app-checkbox>
        </label>
      </div>
      <div class="form-group mb-0 position-relative col-12">
        <!--TODO if the inputs are empty,or wait server response add "disabled" class-->
        <button type="button" class="date-time__add-btn text-white text-uppercase w-100 border-0 d-flex
    justify-content-center" [ngClass]="{'disabled': !datesForm?.hasError('validCheckbox')}" (click)="onClickSave()">
          <span>{{'save' | translate}} </span>
          <!--TODO if wait server response add class "d-block" ,else add class "d-none" -->
          <!-- <span class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </span>--> </button>
        <!-- <p class="date-time__error position-absolute" >This is an error message from server</p> -->
      </div>
    </div>

  </form>

</div>
