@import '~bootstrap/scss/bootstrap-reboot';
@import '../../../../../../assets/scss/base/mixins';
@include header-menu;

@include media-breakpoint-down(xs){
  .user__dropdown__mobile,.mobile{
    left: auto !important;
    right: 0 !important;
  }
}

.wemakeit {
  border-radius: 5px;
  background-color: #FF6602;
  height: 75px;
  width: 130px;
  padding: 8px;
  margin: 12px;
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.1);
}
