@import '~bootstrap/scss/bootstrap-reboot';
@import '../../../../../assets/scss/base/mixins';

.notification {
  width: 430px;
  min-height: 200px;
  max-height: 520px;
  &__header, &__footer {
    background: $gray;
    @include font-size($fz-16);
    height: 40px;
    padding: 5px 15px;
  }
  &__header {
    border-bottom: 1px solid $border-color;
    &__title {
      @extend %proxima-semibold;
      @include font-size(inherit);
      color: $dark-gray;
    }
    &__mark,div {
      @include font-size(inherit);
    }
    &__mark, &__settings {
      color: $blue;
    }
    &__settings {
      @include font-size($fz-20);
      margin-left: 20px;
    }
  }
  &__footer {
    @include font-size(inherit);
    border-top: 1px solid $border-color;
    .see-more {
      @include font-size(inherit)
    }
  }
  &__body {
    min-height: 125px;
    max-height: calc(520px - 90px);
    overflow: auto;
    &__loading {
      min-height: inherit;
    }
    &__no-notification {
      min-height: inherit;
      &__icon {
        @include font-size($fz-40 + 5px);
        color: $blue;
        margin-right: 15px;
      }
      &__text {
        @include font-size($fz-16);
        color: $dark-gray
      }
    }
    &__items {
      border-top: 1px solid $border-color;
      margin-top: 10px;
      &__item {
        padding: 13px 15px;
        @include font-size($fz-16);
        @include hover-focus-active {
          color: $dark-gray;
        }
        color: $dark-gray;
        border-bottom: 1px solid $border-color;
        background: $blue-transparent;
        &__image {
          @include border-radius(5px);
          @include user-image(50px, 45px, 40px);
          border-color: $gray70
        }
        div,&__name,&__clear{
          @include font-size(inherit);
        }
        &__name {
          margin-bottom: 8px;
          white-space: pre-wrap;
          max-height: 34px;
          max-width: 250px;
          span {
            @extend %proxima-semibold;
          }
        }
        &__date {
          @include font-size($fz-14);
          color: $text-color
        }
        &__clear {
          color: $text-color;
          i {
            @include font-size(inherit)
          }
        }

        &__decline {
          @include gray-btn-icon
        }
        &__accept {
          @include login-btn;
          border: 1px solid transparent !important;
          margin-left: 20px;
        }
        &__decline, &__accept {
          @include size(100px, 34px);
          padding: 5px;
          margin-top: 16px;
          line-height: 1;
        }
      }
    }
  }
}

.error {
  @include font-size($fz-12);
  color: $error-alert;
  margin-top: 12px;
}

@include media-breakpoint-down(lg) {
  .notification {
    width: 410px;
    &__header, &__footer {
      @include font-size($fz-14);
    }

    &__body {
      &__no-notification {
        &__text {
          @include font-size($fz-14);
        }
      }
      &__items {
        &__item {
          @include font-size($fz-14);
          &__date {
            @include font-size($fz-12);
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .notification {
    width: 320px;
    &__header, &__footer .see-more {
      @include font-size($fz-12);
      height: 34px;
    }

    &__body {
      &__no-notification {
        &__text {
          @include font-size($fz-12);
        }
      }
      &__items {
        &__item {
          @include font-size($fz-12);
          &__date {
            @include font-size($fz-10);
          }
          &__name {
            max-height: 24px;
          }
          &__decline,&__accept{
            height: 28px;
          }
        }
      }
    }
    .error {
      @include font-size($fz-10);
    }
  }
}

@include media-breakpoint-down(xs) {
  .notification {
    width: 100%;
    max-height: calc(100vh - 70px);
    &__body {
      max-height: calc(100vh - 220px);
    }
  }
}
