@import "~bootstrap/scss/bootstrap-reboot";
@import "../../../../../../assets/scss/base/mixins";
//animation for incoming event block
.opacity {
  animation: opacity-animation 0.5s ease-in-out,
    opacity-animation-two 0.5s 0.5s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes opacity-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes opacity-animation-two {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.main-section {
  min-height: 200px;
  &__loading {
    z-index: 1;
  }
}

@include media-breakpoint-down(xs) {
  .row-container {
    width: calc(100%);
    max-width: calc(100% + 30px) !important;
  }
}

.incoming-events-divider {
  border-top: 3px solid #ff6602;
}
