<ul class="list-unstyled icons mb-0">
  <li class="d-inline-block"><a href="https://www.facebook.com/JogotoOfficial/"
                                class="d-inline-flex align-items-center justify-content-center ml-0"
                                target="_blank">
    <i class="icon-facebook m-0"></i>
  </a></li>
  <li class="d-inline-block"><a href="https://www.linkedin.com/company/jogoto/about/"
                                class="d-inline-flex align-items-center justify-content-center"
                                target="_blank">
    <i class="icon-linkedin m-0"></i>
  </a></li>
  <li class="d-inline-block"><a href="https://www.instagram.com/jogoto/"
                                class="d-inline-flex align-items-center justify-content-center"
                                target="_blank">
    <i class="icon-instagram m-0"></i>
  </a></li>
  <li class="d-inline-block"><a href="https://twitter.com/jogoto5"
                                class="d-inline-flex align-items-center justify-content-center"
                                target="_blank">
    <i class="icon-twitter m-0"></i>
  </a></li>
</ul>
