<form class="reset">
    <h3 class="reset__title text-center">{{'login.login_title' | translate}}</h3>
    <p class="reset__description text-center">
     {{'forgot.forgot_desc' | translate}}
    </p>
    <!--TODO add 'reset__input-error' class if input isn't valid-->
    <!-- <div class="form-group reset__input  position-relative">
      <input type="email" class="form-control shadow-none" formControlName = "email" [placeholder]="'login.email' | translate"/>
     <p class="m-0 position-absolute">This is an email address error message</p>
    </div> -->
    <div class="form-group mb-0 position-relative">
      <!--TODO if the inputs are empty,or wait server response add "disabled" class-->
      <button class="reset__btn text-white text-uppercase w-100 border-0 d-flex
      justify-content-center align-items-center" type="button">
        <span>{{'login.login' | translate}} </span>
        <!--TODO if wait server response add class "d-block" ,else add class "d-none" -->
        <span class="spinner-border" role="status" *ngIf="loading">
        <span class="sr-only">Loading...</span>
      </span>
    </button>
      <p class="error position-absolute" *ngIf="serverError">This is an error message from server</p>
    </div>
    <div class="reset__singnup">
      <p class="mb-0 text-center">
        {{"forgot.return" | translate}}
        <a [routerLink]="'/auth/login'|localize" class="reset__singnup__link text-decoration-none">{{"login.login" | translate}}</a></p>
    </div>
  </form>
