@import '~bootstrap/scss/bootstrap-reboot';
@import '../../../../../../assets/scss/base/mixins';

.filter {
  .dropdown-menu {
    width: 360px;
    padding: 20px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: calc(100% + 10px) !important;
    app-checkbox{
      margin-bottom: 15px;
    }
  }
  &__btn {
    @include filter-btn;
    &__footer {
      margin-top: 15px;
    }
  }
  &__title {
    @extend %proxima-semibold;
    @include font-size($fz-18);
    color: $event-title;
    margin-bottom: 20px;
  }
}
