<div>
    <p class="crop__title">{{info?.title}}</p>
    <p class="crop__desc mb-0">{{info?.description}}</p>
</div>
<section class="crop position-relative">

    <div *ngIf="showCropperActions && cropperReady" class="btn-group position-absolute text-white crop-actions save-cancle" role="group" aria-label="">
        <button (click)="resetCropper()" type="button" class="btn text-white crop__btn">{{"user.cancel" | translate}}</button>
        <!-- <button (click)="saveImage()" type="button" class="btn text-white crop__btn">{{"user.save_capital" | translate}}</button> -->
    </div>
    <div *ngIf="!showCropperActions && isSaved && !imageLoading" class="btn-group position-absolute text-white crop-actions">
        <button class="btn text-white crop__btn" *ngIf="!loading" (click)="returnInitialState()">
            <i class="icon-arrow-left"></i></button>
        <button (click)="resetCropper(true)" type="button" class="btn text-white crop__btn">
            <i class="icon-close"></i> </button>
    </div>
    <figure [ngClass]="{'error':failedLoadImage}" class="crop__image w-100 h-100 mb-0 d-flex align-itmes-center justify-content-center">
        <img *ngIf="!showCropperActions && !isSaved" [src]="defaultImage" class="img-fluid w-100 h-100" alt="">
        <img *ngIf="isSaved" [src]="savedImage" class="img-fluid w-100 h-100" alt="">
        <image-cropper class="d-flex align-items-center justify-content-center"
                       #cropper
                       (click)="dragImage()"
                       (touchmove)="dragImage()"
                       [aspectRatio]="1.89"
                       [cropperMinWidth]="250"
                       [cropperMinHeight]="132"
                       [cropper]="cropperPositionReady ? cropperPositionReady : {}"
                       *ngIf="showCropperActions" [imageBase64]="defaultImage"
                       [imageChangedEvent]="imageChangedEvent"
                       [resizeToWidth]="0"
                       format="jpeg"
                       (cropperReady)="getCropperState()"
                       (imageCropped)="imageCropped($event)"
                       (loadImageFailed)="loadImageFailed()"
                       (imageLoaded)="imageLoaded($event)"
                       [imageQuality]="quality"
                       [autoCrop]="false">
        </image-cropper>
    </figure>
    <!--TODO show if image  uploaded-->
   <div *ngIf="showCropperActions && dragRepository" class="upload-btn-wrapper position-absolute overflow-hidden d-inline-block">
        <app-loading *ngIf="loading && !cropperReady"></app-loading>
        <button class="btn" *ngIf="cropperReady"><i class="icon-reposition"></i> {{"create-event.drag_reposition" | translate}}</button>
    </div>

    <div *ngIf="!showCropperActions && !isSaved" class="upload-btn-wrapper position-absolute overflow-hidden d-inline-block">
        <app-loading *ngIf="loading"></app-loading>
        <button class="btn" *ngIf="!loading && !isSaved"><i class="icon-camera-fill"></i> {{"create-event.upload_photo" | translate}}</button>
        <input (change)="fileChangeEvent($event)" accept=".png,.jpeg,.webp,.jpg" type="file" class="position-absolute w-100 h-100" name="myfile" />
    </div>
    <div class="upload-btn-wrapper position-absolute overflow-hidden d-inline-block">
        <app-loading *ngIf="imageLoading"></app-loading>
    </div>
</section>
<p *ngIf="!failedLoadImage" class="image-formats">{{"create-event.image_formats" | translate}}</p>
<p *ngIf="failedLoadImage" class="image-formats warning">{{"create-event.image_formats" | translate}}</p>
