@import '~bootstrap/scss/bootstrap-reboot';
@import './../../../../../../assets/scss/base/variables';

.no-search-result {
  color: $text-color;

  &__icon {
    @include font-size($fz-52);
    margin-right: 20px;
    line-height: 1;
  }
}

@include media-breakpoint-down(lg) {
  .no-search-result {
    &__description {
      @include font-size($fz-14);
    }
  }
}

@include media-breakpoint-down(sm) {
  .no-search-result {
    &__description {
      @include font-size($fz-12);
    }
  }
}
