<main class="container-fluid p-0 about-organizer">
  <section class="about-organizer__hero d-flex align-items-center justify-content-center">
    <h1
      class="about-organizer__hero__title text-white container text-center">{{"organizer-page.title" | translate}}</h1>
  </section>
  <section class="container about-organizer__block d-flex px-sm-0 flex-wrap">
    <article class="about-organizer__block__item overflow-hidden d-flex flex-column flex-md-row  flex-xl-column">
      <figure class="about-organizer__block__item__image my-0 overflow-hidden">
        <img class="w-100 h-100" src="./assets/images/about/build.jpg"
             [alt]="'organizer-page.have_fun_title' | translate">
      </figure>
      <div class="container about-organizer__block__item__info">
        <h3
          class="container about-organizer__block__item__info__title">{{"organizer-page.build_title" | translate}}</h3>
        <p
          class="container about-organizer__block__item__info__desc">{{"organizer-page.build_desc" | translate}}</p>
        <ul class="list-unstyled">
          <li class="d-flex">{{"organizer-page.build_first" | translate}}</li>
          <li class="d-flex">{{"organizer-page.build_second" | translate}}</li>
        </ul>
      </div>
    </article>
    <article class="about-organizer__block__item overflow-hidden d-flex flex-column flex-md-row flex-xl-column">
      <figure class="about-organizer__block__item__image my-0 overflow-hidden">
        <img class="w-100 h-100" src="./assets/images/about/organize.jpg"
             [alt]="'organizer-page.have_fun_title' | translate">
      </figure>
      <div class="container about-organizer__block__item__info">
        <h3
          class="container about-organizer__block__item__info__title">{{"organizer-page.organize_title" | translate}}</h3>
        <p
          class="container about-organizer__block__item__info__desc">{{"organizer-page.organize_desc" | translate}}</p>
        <ul class="list-unstyled">
          <li class="d-flex">{{"organizer-page.organize_first" | translate}}</li>
          <li class="d-flex">{{"organizer-page.organize_second" | translate}}</li>
        </ul>
      </div>
    </article>
    <article class="about-organizer__block__item overflow-hidden d-flex flex-column flex-md-row  flex-xl-column">
      <figure class="about-organizer__block__item__image my-0 overflow-hidden">
        <img class="w-100 h-100" src="./assets/images/about/optimize.jpg"
             [alt]="'organizer-page.have_fun_title' | translate">
      </figure>
      <div class="container about-organizer__block__item__info">
        <h3
          class="container about-organizer__block__item__info__title">{{"organizer-page.optimize_title" | translate}}</h3>
        <p
          class="container about-organizer__block__item__info__desc">{{"organizer-page.optimize_desc" | translate}}</p>
        <ul class="list-unstyled">
          <li class="d-flex">{{"organizer-page.optimize_first" | translate}}</li>
          <li class="d-flex">{{"organizer-page.optimize_second" | translate}}</li>
          <li class="d-flex">{{"organizer-page.optimize_third" | translate}}</li>
        </ul>
      </div>
    </article>
    <article class="about-organizer__block__item overflow-hidden d-flex flex-column flex-md-row  flex-xl-column">
      <figure class="about-organizer__block__item__image my-0 overflow-hidden">
        <img class="w-100 h-100" src="./assets/images/about/understand.jpg"
             [alt]="'organizer-page.have_fun_title' | translate">
      </figure>
      <div class="container about-organizer__block__item__info">
        <h3
          class="container about-organizer__block__item__info__title">{{"organizer-page.understand_title" | translate}}</h3>
        <p
          class="container about-organizer__block__item__info__desc">{{"organizer-page.understand_desc" | translate}}</p>
        <ul class="list-unstyled">
          <li class="d-flex">{{"organizer-page.understand_first" | translate}}</li>
          <li class="d-flex">{{"organizer-page.understand_second" | translate}}</li>
        </ul>
      </div>
    </article>
  </section>
  <app-about-footer></app-about-footer>
</main>
